*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.container {
	max-width: 1094px;
	display: block;
	margin: 0 auto;
	padding: 0 1em;
}

.link {
	white-space: nowrap;
	text-decoration: none;
	color: inherit;
	transition-property: color;
	transition-timing-function: ease;
	transition-duration: 0.2s;
}

.link:hover {
	color: #90ee90;
}

.btn {
	display: inline-block;
	font-size: inherit;
	border: none;
	outline: none;
	color: white;
	padding: 1em 1.625em;
	background-color: inherit;
	transition-property: color, background-color;
	transition-timing-function: ease;
	transition-duration: 0.2s;
	font-weight: bold;
}

.btn_green {
	background-color: rgb(66, 174, 96);
	border-radius: 6px;
}

.btn_green:hover {
	background-color: rgb(135, 189, 29);
	color: white;
}

/* .header */

.header {
	padding: 2.5em 0;
	color: white;
	background-color: rgba(39, 55, 32, 0.87);
}

.header__wrapper {
	display: grid;
	grid-template-areas: ". header__nav header__btns";
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
}

.header__nav {
	display: flex;
	gap: 3em;
	grid-area: header__nav;
}

.header__btns {
	grid-area: header__btns;
	display: flex;
	justify-content: flex-end;
	margin-left: 2.5em;
}

/* .header */


/* .intro */

.intro {
	color: white;
	background-color: rgb(39, 55, 32);
	display: flow-root;
	padding: 60px 0;
	overflow: hidden;
}

.intro__left-plus-right {
	display: grid;
	grid-template-columns: 450px auto;
}

.intro__right {
	position: relative;
	right: -100px;
}


.intro__right-img {
	border-radius: 10px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.intro__right-img_hidden {
	opacity: 0;
}

.intro__title {
	font-size: 4.5em;
	margin: 0;
	line-height: 1;
	margin-bottom: 40px;
	font-weight: normal;
}

.intro__description {
	font-size: 1.2em;
	margin-bottom: 30px;
}

.intro__wrapper {
	display: flex;
	flex-direction: column;
	gap: 180px;
}

.intro__companies {
	display: flex;
	gap: 20px;
	justify-content: space-between;
	flex-wrap: wrap;
}

.intro__companies-text {
	width: 200px;
}


.intro__companies-images {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
}

.intro__companies-text {
	text-align: center;
}

/* .intro */


/* .deals */

.deals {
	color: rgb(39, 55, 32);
	padding: 80px 0;
}

/* .deals */

.section-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 25px;
}

.section-header__subtitle {
	text-transform: uppercase;
	margin: 0;
}

.section-header__title {
	font-size: 4em;
	margin: 0;
	font-weight: normal;
	text-align: center;
}

.section-header__description {
	margin: 0;
}


.lines-text {
	display: flex;
	flex-direction: column;
	font-size: 31px;
	width: 470px;
}

.lines-text__item {
	padding: 0.8em 0;
	border-top: 1px solid #273720;
}

.lines-text__item:last-child {
	border-bottom: 1px solid #273720;
}

.deals__two {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 76px;
}


/* .vendors */

.vendors {
	color: rgb(39, 55, 32);
	padding: 80px 0;
	overflow: hidden;
}

.vendors__two {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 140px;
	gap: 40px;
}

.vendors__two-right {
	max-width: 523px;
	position: relative;
}

.vendors__two-right-img_absolute {
	position: absolute;
	top: -28%;
	left: -7%;
}

.vendors__two-right-line {
	position: absolute;
	width: 150%;
	height: 174%;
	bottom: 13%;
	left: 30%;
	background-color: #E6FF4C;
	clip-path: polygon(7% 100%, 6% 66%, 42% 0%, 66% 1%, 64% 38%, 31% 100%)
}

/* .vendors */

/* .teams */

.teams {
	background-color: rgb(39, 55, 32);
	padding: 120px 0;
	overflow-x: hidden;
}

.teams__title {
	color: white;
	margin: 0;
	font-size: 4.5em;
	text-align: center;
}

.teams__wrapper {
	display: flex;
	flex-direction: column;
	gap: 57px;
}

.teams__slider {
	max-width: 100%;
	overflow: initial;
}

.teams__slider-items {
	align-items: center;
}

.teams__slider-item {
	padding: 2.75em 5.125em;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	border-radius: 30px;
	--width: max(75%, 500px);
	min-width: var(--width);
	max-width: var(--width);
	overflow: hidden;
}

/* нечётные */
/* .teams__slider-item:nth-of-type(2n + 1) {
	background-color: white;
} */

/* чётные */
/* .teams__slider-item:nth-of-type(2n) {
	background-color: #D2EBD5;
} */

.teams__slider-item_odd {
	/* нечётные */
	background-color: white;
}

.teams__slider-item_even {
	/* чётные */
	background-color: #D2EBD5;
}

.teams__slider-arrows {
	display: flex;
	justify-content: center;
	gap: 3em;
	margin-top: 3em;
	user-select: none;
}

.teams__slider__arrow {
	cursor: pointer;
	padding: 20px;
	transition: background-color 0.2s ease;
}

.teams__slider__arrow:hover {
	background-color: rgba(255, 255, 255, 0.1);
}


.teams__slider-item-img {
	--width: 128px;
	min-width: var(--width);
	max-width: var(--width);
}

.teams__slider-text {
	margin: 0;
	font-size: 2em;
}

.teams__slider-review {
	display: flex;
	align-items: center;
	gap: 24px;
}

.teams__slider-review-img {
	--width: 64px;
	min-width: var(--width);
	max-width: var(--width);
}

.teams__slider-review-text {
	font-size: 1.125em;
}

/* .teams */


/* .security */

.security {
	background-color: rgb(39, 55, 32);
	padding: 120px 0;
	color: white;
}

.security__wrapper {
	position: relative;
}

.security__title {
	margin-bottom: 20px;
}

.security__img-bg {
	position: absolute;
	top: 0;
	left: 0;
	/* top: -50%; */
	width: 250px;
	max-width: none;
	max-height: none;
	transform: translate(-30%, -25%);
}

/* .security */


/* .footer */

.footer {
	padding: 80px 0;
	background-color: rgb(39, 55, 32);
	color: white;
}

.footer__wrapper {
	display: flex;
	justify-content: space-between;
}

.footer__columns {
	display: flex;
	justify-content: space-between;
	gap: 4em;
	padding-right: 10vw;
}

.footer__column {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.footer__column-item {
	display: flex;
	gap: 1.5em;
}

.footer__column-item_head {
	font-size: 2em;
}

.footer__logo-wrapper {
	min-width: max-content;
}

/* .footer */





@media (max-width: 1000px) {

	.deals__two {
		flex-direction: column;
		gap: 80px;
	}

	.intro__companies {
		justify-content: center;
	}

	.lines-text {
		width: auto;
	}

	.vendors__two {
		flex-direction: column;
		gap: 160px;
		margin-top: 76px;
	}

}



@media (max-width: 720px) {
	.header__wrapper {
		grid-template-areas: "header__nav"
			"header__btns";
		grid-template-columns: auto;
		gap: 2em;
	}

	.header__nav {
		flex-direction: column;
		align-items: center;
		gap: 2em;
	}


	.header__btns {
		margin-left: 0;
		flex-direction: column;
		align-items: center;
	}

	.intro__wrapper {
		gap: 90px;
	}

	.intro__left-plus-right {
		grid-template-columns: auto;
		place-items: center;
		gap: 4em;
	}

	.intro__right {
		position: static;
		right: auto;
	}

	.intro__left {
		max-width: 400px;
	}

	.intro__title {
		font-size: 3em;
		margin-bottom: 20px;
	}

	.intro__description {
		font-size: 1.1em;
		margin-bottom: 20px;
	}

	.teams__slider-item {
		--width: max(75%, 300px);
		padding: 1em 2em;
	}

	.teams__slider-text {
		font-size: 1em;
	}

	.teams__slider-review-text {
		font-size: 0.8em;
	}


}

@media (max-width: 680px) {
	.footer__wrapper {
		flex-direction: column;
		align-items: center;
		gap: 4em;
	}

	.footer__columns {
		padding-right: 0;
		flex-wrap: wrap;
		justify-content: center;
	}
}
