@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, *::before, *::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.container {
	max-width: 1094px;
	padding: 0 16px;
	margin: 0 auto;
	width: 100%;
	display: block;
}

.link {
	color: inherit;
	text-decoration: none;
	white-space: nowrap;
	transition: color 0.2s ease;
}

.link:hover {
	color: rgb(143, 237, 143);
}

.btn {
	color: white;
	padding: 16px 25px;
	border-radius: 6px;
	display: inline-block;
	border: none;
	font-family: inherit;
	font-size: inherit;
}

.btn_green {
	background-color: rgb(66, 174, 96);
	transition-duration: 0.2s;
	transition-timing-function: ease;
	transition-property: color, background-color;
}

.btn_green:hover {
	color: white;
  background-color: rgb(135, 189, 29);
}


/* .header */

.header {
	background-color: rgb(67, 81, 61);
	color: white;
	padding: 25px 0;
}

.header__wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: ". header__nav header__btns";
	align-items: center;
}

.header__nav {
	display: flex;
	gap: 48px;
	grid-area: header__nav;
}

.header__btns {
	display: flex;
	justify-content: flex-end;
	grid-area: header__btns;
	margin-left: 40px;
}

/* .header */


/* .intro */

.intro {
	background-color: rgb(39, 55, 32);
	color: white;
	padding: 80px 0;
	overflow-x: hidden;
}

.intro__wrapper {
	display: flex;
	flex-direction: column;
	gap: 180px;
}

.intro__left-and-right {
	display: grid;
	grid-template-columns: 450px auto;
}

.intro__title {
	margin: 0;
	font-size: 72px;
	font-weight: normal;
	line-height: 1;
}

.intro__description {
	margin: 0;
	font-size: 19px;
}

.intro__left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
}

.intro__right {
	transform: translateX(100px);
}

.intro__img {
	border-radius: 10px;
	height: 100%;
	object-fit: cover;
}

.intro__companies {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.intro__companies-text {
	width: 200px;
	margin: 0;
}

.intro__companies-images {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
}

/* .intro */


/* .section-header */

.section-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;
	text-align: center;
}

.section-header__suptitle {
	font-size: 15px;
	text-transform: uppercase;
}

.section-header__title {
	font-size: 71px;
	margin: 0;
	line-height: 1;
	font-weight: normal;
}

.section-header__subtitle {
	font-size: 17px;
}

/* .section-header */


/* .lines-text */

.lines-text {
	font-size: 31px;
}

.lines-text__item {
	padding: 25px 0;
	border-top: 1px solid black;
}

.lines-text__item:last-child {
	border-bottom: 1px solid black;
}

/* .lines-text */


/* .deals */

.deals {
	padding: 80px 0;
	overflow-x: hidden;
}

.deals__section-header {
	color: rgb(39, 55, 32);
}

.deals__two {
	margin-top: 76px;
	display: grid;
	grid-template-columns: 470px auto;
	justify-content: space-between;
	align-items: center;
	gap: 80px;
}

/* .deals */

/* .vendor */

.vendor {
	padding: 80px 0;
	overflow-x: hidden;
}

.vendor__section-header {
	color: rgb(39, 55, 32);
}

.vendor__two {
	display: grid;
	grid-template-columns: 470px auto;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
	margin-top: 140px;
}

.vendor__two-right {
	position: relative;
}

.vendors__two-right-img_absolute {
	position: absolute;
	top: -28%;
	left: -7%;
}

.vendors__two-right-line {
	width: 150%;
	height: 174%;
	clip-path: polygon(7% 100%,6% 66%,42% 0%,66% 1%,64% 38%,31% 100%);
	background-color: #e6ff4c;
	position: absolute;
	bottom: 13%;
	left: 30%;
}

/* .vendor */


/* .teams */

.teams {
	background-color: rgb(39, 55, 32);
	color: white;
	padding: 80px 0;
	overflow-x: hidden;
}

.teams__slider {
	width: 100%;
}

.teams__wrapper {
	display: flex;
	flex-direction: column;
	gap: 60px;
}

.teams__slider-arrows {
	display: flex;
	justify-content: center;
	gap: 48px;
	margin-top: 48px;
}

.teams__slider-wrapper {
	display: flex;
	align-items: center;
}

.teams__slider-item {
	min-width: 80vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 32px;
	padding: 44px 82px;
	border-radius: 40px;
	overflow: hidden;
	--width: min(1000px, max(75vw, 250px));
	min-width: var(--width);
	max-width: var(--width);
}

.teams__slider-item_odd {
	background-color: rgb(210, 235, 213);
	color: rgb(39, 55, 32);
}

.teams__slider-item_even {
	background-color: white;
	color: rgb(39, 55, 32);
}

.teams__slider-review {
	display: flex;
	align-items: center;
	gap: 24px;
}

.teams__slider-review-img {
	--size: 64px;
	min-width: var(--size);
	max-width: var(--size);
	height: var(--size);
}

.teams__slider-review-text {
	font-size: 18px;
}

.teams__slider-arrow {
	cursor: pointer;
	padding: 20px;
	transition: background-color .2s;
}

.teams__slider-arrow:hover {
	background-color: #ffffff1a;
}

/* .teams */

/* .security */

.security {
	padding: 120px 0;
	background-color: rgb(39, 55, 32);
	color: white;
	overflow-x: hidden;
	overflow-y: visible;
}

.security__wrapper {
	position: relative;
}

.security__img {
	position: absolute;
	left: 0;
	top: -10%;
	z-index: 1;
	width: 230px;
	pointer-events: none;
	user-select: none;
	max-width: none;
	max-height: none;
}

.security__title {
	margin-bottom: 20px;
}

/* .security */


/* .footer */

.footer {
	background-color: rgb(39, 55, 32);
	color: white;
	padding: 80px 0;
}

.footer__wrapper {
	display: flex;
	justify-content: space-between;
}

.footer__logo-wrapper {
	min-width: max-content;
}

.footer__columns {
	display: flex;
	gap: 64px;
}

.footer__column {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.footer__column-item_head {
	font-size: 32px;
}

.footer__column-item_logos {
	display: flex;
	gap: 24px
}

/* .footer */


@media (max-width: 1000px) {
	.intro__companies {
		flex-direction: column;
		align-items: center;
	}

	.deals__two {
		grid-template-columns: auto;
		place-content: center;
	}

	.vendor__two {
		grid-template-columns: auto;
		place-content: center;
		gap: 160px;
		margin-top: 76px;
	}

	.lines-text__item {
		font-size: 20px;
	}

	.section-header__title {
		font-size: 40px;
	}

	.security__img {
		width: 150px;
	}

}


@media (max-width: 720px) {

	/* .header */

	.header__wrapper {
		grid-template-columns: auto;
		grid-template-areas: "header__nav"
												 "header__btns";
		gap: 32px;
	}

	.header__btns {
		margin-left: 0;
		flex-direction: column;
		align-items: center;
	}

	.header__nav {
		flex-direction: column;
		align-items: center;
		gap: 32px;
	}

	/* .header */

	/* .intro */

	.intro__wrapper {
		gap: 80px;
	}

	.intro__left-and-right {
		grid-template-columns: auto;
		gap: 64px;
		place-items: center;
	}

	.intro__left {
		max-width: 400px;
		width: 100%;
	}

	.intro__title {
		font-size: 48px;
	}

	.intro__description {
		font-size: 16px;
	}

	.intro__right {
		transform: none;
	}

	/* .intro */


	/* .teams */

	.teams__slider-item {
		padding: 16px 32px;
	}


	.teams__slider-item-text {
		font-size: 16px;
	}

	.teams__slider-review-img {
		--size: 50px;
	}

	.teams__slider-review-text {
		font-size: 13px;
	}

		/* .teams */


}



@media (max-width: 680px) {

	.footer__wrapper {
		flex-direction: column;
		align-items: center;
		gap: 64px;
	}

	.footer__columns {
		flex-wrap: wrap;
		justify-content: center;
	}

}
