<ul>
  <ng-container *ngFor="let node of nodes$ | async; trackBy: trackByFn">
    <li [attr.node-id]="node.id">

      <div class="label-wrapper">

        <div
          class="expand-more"
          [ngClass]="{
            'expand-more_none': !node.expandable,
            'expand-more_closed': node.expandableClosed
          }"
          (click)="expandNodeToggle(node)"
        ></div>

        <label for="" class="label" [attr.id]="node.id">
          <input
            type="checkbox"
            [indeterminate]="isNodeIndeterminate(node)"
            [checked]="isNodeChecked(node)"
            (change)="onNodeCheckedChange($event, node)"
          >
          <span>{{ node.name }}</span>
        </label>

      </div>

      <div class="next-tree" #nextTree>
        <app-angular-tree
          [nodes$]="transfromChildIntoObs(node.child)"
          *ngIf="node.child.length !== 0"
        ></app-angular-tree>
      </div>

    </li>
  </ng-container>
</ul>
