<div
	class="modal"
	[ngStyle]="{
		'transition-duration': modalConfig?.transitionDurationS + 's'
	}"
	[ngClass]="{
		'modal_open': isOpen
	}"
>

	<div
		class="modal__wrapper"
		aria-modal="true"
		role="dialog"
		(pointerdown)="clickModal($event)"
	>
		<div class="modal__body">

			<div
				class="modal__content"
				[ngStyle]="{
					'max-width': modalConfig?.maxWidth,
					'min-width': modalConfig?.minWidth,
					'max-height': modalConfig?.maxHeight,
					'min-height': modalConfig?.minHeight
				}"
			>

				<div class="modal__close">

					<svg class="modal__close-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
						<g>
							<line class="modal__close-svg-line" x1="7" x2="25" y1="7" y2="25" />
							<line class="modal__close-svg-line" x1="7" x2="25" y1="25" y2="7" />
						</g>
					</svg>

				</div> <!-- .modal__close -->

				<ng-container #modalContent></ng-container>
			</div>

		</div>
	</div>

	<div class="modal__background"></div>

</div>
