*,
*::before,
*::after {
	box-sizing: inherit;
}

:root {
	color-scheme: light dark;
	box-sizing: border-box;
	font-size: 20px;
	font-family: sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
		--color-bg: #ffffff;
		--color-border: #e1e4e8;
		--color-text: #24292e;
		--color-muted: #586069;
		--color-link: #0366d6;
		--color-card-shadow: rgba(0, 0, 0, 0.1);
		--spinner-bg: #f3f3f3;
		--spinner-color: #3498db;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #0d1117;
    --color-border: #30363d;
    --color-text: #c9d1d9;
    --color-muted: #8b949e;
    --color-link: #58a6ff;
    --color-card-shadow: rgba(0, 0, 0, 0.6);
		--spinner-bg: #555;
		--spinner-color: #4dc0ff;
  }
}

// .input

.text-input {
  width: 100%;
	max-width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  background: var(--color-bg);
  color: var(--color-text);
  font-size: 1rem;
  outline: none;
  transition: border 0.2s, background 0.2s, color 0.2s, box-shadow 0.2s;
}

.text-input::placeholder {
  color: var(--color-muted);
}

.text-input:focus {
  border-color: var(--color-link);
  box-shadow: 0 0 0 2px rgba(3, 102, 214, 0.2); /* rgba для ссылки */
}

.text-input:disabled {
  background: var(--color-border);
  color: var(--color-muted);
  cursor: not-allowed;
}

// .input

.container {
	max-width: 1000px;
	margin: 0 auto;
	display: block;
	width: 100%;
	padding: 0 1rem;
}
