:host {
	display: block;
}

:host,
:host > .container,
.container > .wrapper {
	height: 100%;
}

.wrapper {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 200px 1fr;
	--paddingX: 30px;
	--paddingY: 30px;
}

.wrapper__left {
	position: relative;
	padding-right: var(--paddingX);
	padding-top: var(--paddingY);
	padding-bottom: var(--paddingY);
}

.btn_hidden {
	opacity: 0;
	visibility: hidden;
}

.wrapper__right {
	padding-left: var(--paddingX);
	padding-top: var(--paddingY);
}

.wrapper > :first-child {
	border-right: 3px solid var(--color);
	transition-timing-function: var(--transitionTimingFunction);
	transition-duration: var(--transitionDuration);
	transition-property: border-color;
}
