:host {
	display: block;
}

:host,
:host > .container,
.container > .wrapper {
	height: 100%;
}

.wrapper {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 200px 1fr;
	--paddingX: 30px;
	--paddingY: 30px;
}

.wrapper__left {
	position: relative;
	padding: var(--paddingY) var(--paddingX) var(--paddingY) 0;
}

.btn_hidden {
	opacity: 0;
	visibility: hidden;
}

.wrapper__right {
	padding: var(--paddingY) 0 0 var(--paddingX);
}

.wrapper__left {
	border-right: 3px solid var(--color);
	transition-timing-function: var(--transitionTimingFunction);
	transition-duration: var(--transitionDuration);
	transition-property: border-color;
}

@media (max-width: 500px) {
	.wrapper {
		padding-top: var(--paddingY);
		grid-template-rows: 200px 1fr;
		grid-template-columns: 1fr;
		gap: var(--paddingY);
	}

	.wrapper__left {
		border-right: none;
		padding: 0;
		max-height: 200px;
		overflow-y: auto;
		scrollbar-width: 0;
	}

	notes-nav {
		display: block;
		max-width: 200px;
		margin: 0 auto;
		width: 100%;
	}

	.wrapper__right {
		padding: 0;
	}
}
